{% extends 'base.html' %}

{% load static %}

{% block title %} Добавить лида в систему {% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css" rel="stylesheet" />
{% endblock %}




{% block content %}

{% if msg %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                Поле: {{field.name}} с ошибкой {{error}}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div class="col-md-6">
<form action="{% url 'lead' %}" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="fio-label"> {{ form.fio.label }}</span>
        {{ form.fio }}
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="phone-label"> {{ form.phone.label }}</span>
        {{ form.phone }}
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="address-label"> {{ form.address.label }}</span>
        {{ form.address }}
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">Создать лид</button>
    </div>
</form>
    </div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}